<a href="https://colab.research.google.com/github/haickalakbar/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-5/blob/main/Case_Study_03_Data_Mining_UIN_Ganjil_2022_Kelompok_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Warning install "mlxtend" module first. Jalankan cell ini Hanya jika menggunakan Google Colaboratory:
# Jika menggunakan Jupyter notebook secara lokal (e.g. Anaconda/WinPython) silahkan install lewat terminal (e.g. command prompt)
try:
    import google.colab as gc_
    print("Running the code in Google Colab.", gc_) #IN_COLAB = True
    print("Installing required Module, please wait ... ")
    !pip install mlxtend 
    !pip install pycaret
except:
    print("Running the code locally, make sure to install required modules.")#IN_COLAB = False

In [ ]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns
from itertools import combinations
from collections import Counter
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from pycaret.arules import *

%matplotlib inline
plt.style.use('bmh'); sns.set()

In [3]:
import pandas as pd

## Import Data

In [1]:
# Running in Google Colab
!mkdir data
!wget -P data/ https://raw.githubusercontent.com/haickalakbar/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-5/main/ARMBA.csv

--2022-10-26 00:52:06--  https://raw.githubusercontent.com/haickalakbar/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-5/main/ARMBA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1756 (1.7K) [text/plain]
Saving to: ‘data/ARMBA.csv’

ARMBA.csv           100%[===================>]   1.71K  --.-KB/s    in 0s

2022-10-26 00:52:07 (34.9 MB/s) - ‘data/ARMBA.csv’ saved [1756/1756]

In [4]:
df = pd.read_csv("data/ARMBA.csv")
df

,ID Transaksi,Tanggal,Konsumen,ID Produk,Nama Produk,Merek,Jumlah
0,1.0,07/01/2022 00:00:00,Mr. A,1,Roti,Sri Roti,2
1,NaN,NaN,NaN,2,Air Minum,Aquos,1
2,NaN,NaN,NaN,11,Mie Instan,Indomi,2
3,NaN,NaN,NaN,12,Mie Instan,Mi Sedap,1
4,2.0,07/01/2022 00:00:00,Mr. B,2,Air Minum,Aquos,1
5,NaN,NaN,NaN,6,Snack,Chiki,2
6,NaN,NaN,NaN,3,Roti,Prambanan,1
7,NaN,NaN,NaN,5,Shampoo,Clean,1
8,3.0,07/02/2022 00:00:00,Mr. C,4,Sabun,Lifboy,1
9,NaN,NaN,NaN,5,Shampoo,Clean,1
10,NaN,NaN,NaN,9,Rokok,Malioboro,1
11,4.0,07/02/2022 00:00:00,Mr. B,1,Roti,Sri Roti,2
12,NaN,NaN,NaN,10,Air Minum,Sprit,2
13,NaN,NaN,NaN,8,Snack,Citata,3
14,NaN,NaN,NaN,7,Sabun,Luks,1
15,NaN,NaN,NaN,12,Mie Instan,Mi Sedap,2
16,5.0,07/03/2022 00:00:00,Mr. A,6,Snack,Chiki,1
17,NaN,NaN,NaN,10,Air Minum,Sprit,2
18,6.0,07/03/2022 00:00:00,Mr. D,11,Mie Instan,Indomi,2
19,NaN,NaN,NaN,4,Sabun,Lifboy,1
20,NaN,NaN,NaN,5,Shampoo,Clean,1
21,7.0,07/04/2022 00:00:00,Mr. Z,10,Air Minum,Sprit,1
22,NaN,NaN,NaN,9,Rokok,Malioboro,1
23,8.0,07/04/2022 00:00:00,Mr. B,6,Snack,Chiki,1
24,NaN,NaN,NaN,7,Sabun,Luks,1
25,NaN,NaN,NaN,5,Shampoo,Clean,1
26,NaN,NaN,NaN,11,Mie Instan,Indomi,3
27,9.0,07/05/2022 00:00:00,Mr. X,1,Roti,Sri Roti,2
28,NaN,NaN,NaN,2,Air Minum,Aquos,1
29,NaN,NaN,NaN,4,Sabun,Lifboy,1
30,NaN,NaN,NaN,6,Snack,Chiki,2
31,NaN,NaN,NaN,9,Rokok,Malioboro,1
32,NaN,NaN,NaN,11,Mie Instan,Indomi,2
33,10.0,07/05/2022 00:00:00,Mr. T,3,Roti,Prambanan,1
34,NaN,NaN,NaN,10,Air Minum,Sprit,2
35,NaN,NaN,NaN,6,Snack,Chiki,2
36,11.0,07/06/2022 00:00:00,Mr. P,3,Roti,Prambanan,2
37,NaN,NaN,NaN,9,Rokok,Malioboro,1
38,12.0,07/06/2022 00:00:00,Mr. G,4,Sabun,Lifboy,2
39,NaN,NaN,NaN,5,Shampoo,Clean,1
40,NaN,NaN,NaN,12,Mie Instan,Mi Sedap,2
41,NaN,NaN,NaN,11,Mie Instan,Indomi,1
42,13.0,07/07/2022 00:00:00,Mr. X,1,Roti,Sri Roti,1
43,NaN,NaN,NaN,8,Snack,Citata,2
44,NaN,NaN,NaN,10,Air Minum,Sprit,1
45,14.0,07/07/2022 00:00:00,Mr.Y,7,Sabun,Luks,2
46,NaN,NaN,NaN,5,Shampoo,Clean,2
47,NaN,NaN,NaN,6,Snack,Chiki,1
48,15.0,07/08/2022 00:00:00,Mr. F,9,Rokok,Malioboro,1
49,16.0,08/02/2022 00:00:00,Mr. J,2,Air Minum,Aquos,2
50,17.0,09/05/2022 00:00:00,Mr. X,1,Roti,Sri Roti,2
51,NaN,NaN,NaN,2,Air Minum,Aquos,1
52,NaN,NaN,NaN,4,Sabun,Lifboy,1
53,NaN,NaN,NaN,6,Snack,Chiki,2
54,18.0,10/02/2022 00:00:00,Mr. B,1,Roti,Sri Roti,2
55,NaN,NaN,NaN,10,Air Minum,Sprit,2

# Preprocessing

## Mengganti Nama Variabel

In [ ]:
df.rename(columns = {'ID Transaksi':'IDTransaksi'}, inplace = True)
df.rename(columns = {'ID Produk':'IDProduk'}, inplace = True)
df.rename(columns = {'Nama Produk':'NamaProduk'}, inplace = True)
df

## Mengubah Tipe Data

In [ ]:
# Tipe Datanya : DataFrame (df)
print(type(df))
# Ukuran Data
N, P = df.shape
'baris = ', N, ', Kolom = ', P

# tipe data per kolom
df.dtypes